.membersContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.createForm{
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    height: 100px;
    background-color: cadetblue;
    margin: 50px 60px;
    text-align: center;
}
.membersContent :hover{
    background-color: green;
}